# Игнорировать директорию node_modules
node_modules/

# Игнорировать файлы окружения
.env

# Игнорировать лог-файлы
logs/
*.log

# Игнорировать директорию build (если используется)
/frontend/build/

# Игнорировать файлы, созданные системой сборки
/frontend/.DS_Store
/backend/.DS_Store

# Игнорировать файлы, созданные IDE
.idea/
*.iml

# Игнорировать файлы, созданные VSCode
.vscode/

# Игнорировать файлы, созданные macOS
.DS_Store

# Игнорировать файлы, созданные Windows
Thumbs.db
